.main {
    /* position: relative; */
    width: 100%;
    min-height: 100vh;
  
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }